.country-name {
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 15px 15px 0 0;
  padding: 10px 15px;
  font-size: 35px;
  height: 40%;
  color: transparent;
  font-weight: 700;
  background-position: -900px;
  background-repeat: no-repeat;
  background-size: 100%;
  box-shadow: 0 6px 4px 0px white;
  box-shadow: none;
  transition: background-position 250ms ease-in, color 250ms, box-shadow 50ms;
}

.country-name-enter {
  background-position: -900px;
  color: transparent;
  box-shadow: 0 6px 4px 0px white;
}

.country-name-enter-done {
  background-position: center;
  color: black;
  box-shadow: 0 2px 20px 0px rgb(0 0 0 / 10%);
  transition: background-position 250ms ease-out, color 250ms, box-shadow 250ms;
}

.country-name-exit {
  background-position: 800px;
  box-shadow: 0 6px 4px 0px white;
  color: transparent;
}

.country-name-exit-done {
  background-image: none !important;
  transition: none !important;
  color: transparent;
  box-shadow: 0 6px 4px 0px transparent;
  background-position: -900px;
}
