.country-name {
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 0 15px 0 0;
  padding: 10px 15px;
  font-size: 35px;
  height: 40%;
  color: transparent;
  font-weight: 700;
  background-position: -650px;
  background-repeat: no-repeat;
  background-size: 100%;
  transition: background-position 200ms ease-in, color 200ms;
}

.country-name-enter {
  background-position: -650px;
  color: transparent;
}
.country-name-enter-done {
  background-position: center;
  color: black;
}
.country-name-exit {
  background-position: 800px;
  color: transparent;
}
.country-name-exit-done {
  background-image: none !important;
  transition: none !important;
  color: transparent;
  background-position: -650px;
}

.country-infos-container {
  display: flex;
  height: 60%;
  align-items: center;
  justify-content: space-evenly;
}

.info-column {
  width: 50%;
}

.info-row {
  padding: 10px;
}

.info-field {
  font-weight: 600;
}
