.country-infos-container {
  display: flex;
  height: 60%;
  align-items: center;
  justify-content: space-evenly;
}

.info-column {
  width: 50%;
}

.info-row {
  padding: 10px;
}

.info-field {
  font-weight: 600;
  margin-right: 5px;
}
