.country-infos-container {
  display: flex;
  height: 60%;
  align-items: center;
  justify-content: space-evenly;
}

.info-column {
  width: 50%;
}

.info-row {
  padding: 10px;
}

.info-field {
  font-weight: 600;
  margin-right: 5px;
}

.info-icon {
  color: black;
  font-size: 20px;
  margin-right: 5px;
  transform: translateY(4px);
}

.country-infos-loading .info-data {
  opacity: 0.5;
  animation: info-data-fade-out 2s;
}

@keyframes info-data-fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.5;
  }
}
