.quizzes-list-container-exit {
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 500ms, transform 400ms;
}

.quiz-container {
  opacity: 0;
  transition: opacity 500ms, transform 500ms;
}

.quiz-container-enter {
  position: absolute;
  top: 0;
  opacity: 0;
  transform: translateY(30px);
}

.quiz-container-enter-done {
  opacity: 1;
  transform: translateY(0);
}
