.nav-bar-container {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 2px;
  background-color: #c1deae;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.app-header {
  text-decoration: none;
  margin: 0 10px;
  font-size: 35px;
  font-weight: 800;
  cursor: pointer;

  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.15);
}

.header-part-1 {
  color: #578052;
  transition: color 500ms;
}

.app-header:hover .header-part-1 {
  color: #1e3b8b;
}

.header-part-2 {
  color: #1e3b8b;
  transition: color 500ms;
}

.app-header:hover .header-part-2 {
  color: #578052;
}

.nav-sub-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.actions-container {
  display: flex;
  flex-direction: row;
}

.navbar-action {
  font-size: 25px;
  position: relative;
  color: #1e3b8b !important;
  width: 50px !important;
  height: 40px !important;
}

.navbar-action:hover {
  color: #fff !important;
  transition: color 500ms;
}

/* Tool-tip */
.navbar-action:hover::after {
  content: attr(data-tooltip);
  color: rgba(0, 0, 0, 0.8);
  font-size: 14px;
  font-weight: 600;
  position: absolute;
  top: 45px;
  left: -37.5px;
  height: 40px;
  width: 125px;
  border-radius: 7px;
  background-color: white;
  /*? have to use this absurd value or the map will still appear on top */
  z-index: 10000;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;

  animation: tooltip-fade-in 500ms;
}

.nav-link {
  display: inline-block;
  width: 50%;
  padding: 0 20px;
  text-decoration: none;
  font-size: 25px;
  color: #1e3b8b;
  font-weight: 600;
}

.nav-link:hover {
  color: #2d59d1;
  transition: color 500ms;
}

.nav-link-active {
  color: #578052;
}

.nav-link-active:hover {
  color: #578052;
}

@keyframes tooltip-fade-in {
  0% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 955px) {
  .app-header {
    display: none;
  }
  .nav-sub-container {
    width: 50vh;
  }
  .actions-container {
    width: 40%;
  }
  .links-container {
    width: 60%;
  }
  .nav-link {
    font-size: 20px;
  }
}

@media (max-width: 690px) {
  .links-container {
    display: flex;
    flex-direction: column;
  }

  .actions-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .navbar-action {
    transform: scale(0.8);
  }
  .nav-link {
    padding: 0;
  }
}
