.nav-bar-container {
  display: flex;
  align-items: center;
  padding: 2px;
  background-color: #c1deae;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.app-header {
  margin: 0 10px;
  font-size: 35px;
  font-weight: 800;
  color: white;
  cursor: pointer;

  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.15);
}

.header-part-1 {
  color: #578052;
  transition: color 500ms;
}

.app-header:hover .header-part-1 {
  color: #1e3b8b;
}

.header-part-2 {
  color: #1e3b8b;
  transition: color 500ms;
}

.app-header:hover .header-part-2 {
  color: #578052;
}

.navbar-actions {
  font-size: 25px;
  position: relative;
  color: white !important;
  width: 50px !important;
  height: 40px !important;
}

/* Tool-tip */
.navbar-actions:hover::after {
  content: attr(data-tooltip);
  color: rgba(0, 0, 0, 0.8);
  font-size: 14px;
  font-weight: 600;
  position: absolute;
  top: 45px;
  left: -37.5px;
  height: 40px;
  width: 125px;
  border-radius: 7px;
  background-color: white;
  /*? have to use this absurd value or the map will still appear on top */
  z-index: 10000;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;

  animation: tooltip-fade-in 500ms;
}

@keyframes tooltip-fade-in {
  0% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
