.search-bar-container {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.search-bar {
  position: relative;
  border-radius: 20px;
  width: 450px;
  font-size: 17px;
  padding: 12px;
  padding-left: 40px;
  border: solid 0.5px rgba(0, 0, 0, 0.5);
  background: url("../../assets/search-bar-icon.png") 5px 50% no-repeat;
  background-color: white;
  background-size: 35px;
}
.search-bar:focus {
  outline: solid 1px rgba(0, 0, 0, 0.8);
}

.search-bar-error {
  outline: solid 1px red;
  border: solid 0.5px red;
  animation: search-bar-unvalid 175ms 2;
}

@keyframes search-bar-unvalid {
  0% {
    right: 0;
  }

  25% {
    right: 10px;
  }

  50% {
    right: 0;
  }

  75% {
    right: -10px;
  }

  100% {
    right: 0;
  }
}
