.search-bar-container {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.search-bar {
  border-radius: 20px;
  width: 450px;
  font-size: 17px;
  padding: 12px;
  padding-left: 40px;
}

.real-search-bar {
  position: relative;
  border: solid 1px black;
  background: url("../../assets/search-bar-icon.png") 5px 50% no-repeat;
  background-color: rgb(255, 255, 255, 0.5);
  background-size: 35px;
}

.real-search-bar:focus {
  outline: solid 1px black;
}

.ghost-search-bar {
  position: absolute;
  border: solid 1px transparent;
  outline: none;
  background-color: white;
  min-height: 49px;
}

.ghost-search-bar .hidden-autofill {
  white-space: pre;
  color: transparent;
}

.search-bar-error,
.search-bar-error:hover,
.search-bar-error:focus {
  outline: solid 1px red;
  border: solid 1px red !important;
  animation: search-bar-unvalid 175ms 2;
}

@keyframes search-bar-unvalid {
  0% {
    right: 0;
  }

  25% {
    right: 10px;
  }

  50% {
    right: 0;
  }

  75% {
    right: -10px;
  }

  100% {
    right: 0;
  }
}
