.button {
  color: white;
  width: 75px;
  height: 40px;
  margin: 0 5px;
  padding: 3px;
  background-color: #219f94;
  border-radius: 25px;
  border: none;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  cursor: pointer;
}

.button:hover {
  background-color: #15665f;
}

.button:active {
  background-color: #0a312e;
}
